

body {
		font-family: Arial;
		font-size: 12px;
		text-align: left;
}

h1{
		font-size: 20px;
		font-weight: bold;
		text-decoration: underline;
}

h2{
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}
#school1 {
	font-weight: bold;
}
#school2 {
	font-weight: bold;
}
h3{
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}
#experience1 {
	font-weight: bold;
}
#experience2 {
	font-weight: bold;
}
h4{
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}

h5{
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}
